* {
  box-sizing: border-box;
}

h3 {
  font-size: rem-calc(24);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

a,
p {
  font-family: 'Asap', sans-serif;
}

.top-bar {
  background-color: $logo-blue;

  a {
    &:hover {
      color: black;
    }
  }

  li {
    background-color: $logo-blue;
    color: white;

    .logo {
      padding: 0;
    }
  }
}

.top-bar-right {
  a {
    color: white;
  }
  @include breakpoint(small only) {
    text-align: center;
    text-align: -webkit-center;
  }
}

.columns {
  padding: 0;
}

.logo {
  @include breakpoint(small only) {
    height: 70px;
  }
  width: 100%;
}

.footer {
  color: white;
  background-color: $logo-blue;
  padding: 20px;

  .footer-left {
    padding-top: 8px;
  }

  .foot-link {
    color: white;
    margin-right: 20px;
    margin-top: 20px;
  }

  a {
    color: white;

    &:hover {
      color: black;
    }
  }
}

.interest-check {
  margin-left: 18px;
}

.register {
  margin-top: 10px;
  background-color: black;
  border-radius: 5px;

  &:hover {
    background-color: $logo-blue;
  }
  @include breakpoint(small only) {
    width: 30%;
    margin-left: 35%;
  }
}

.more-info {
  background-color: black;
  border-radius: 5px;

  &:hover {
    background-color: $logo-blue;
  }
  @include breakpoint(small only) {
    width: 30%;
  }
}

.foot-icon {
  font-size: rem-calc(30);
  margin-left: 8px;
}

.feature {
  margin: 3px 10px;
  border: 1px solid $light-grey;
  background-color: $light-grey;
  border-radius: 3px;
  padding: 25px 15px 10px;

  &.with-btn {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
  }
  @include breakpoint(medium up) {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &.button-wrapper {
    justify-content: flex-end;
    display: flex;
  }
}

.feature-row {
  @include breakpoint(medium up) {
    margin-top: 15px;
  }
}

.main-img {

  width:100%;

    @include breakpoint(medium only) {
      margin-top: rem-calc(80);
    }
}
